
.bestsellers-section {
  //background-color: grey;
  text-align: center;
  margin: auto;

  h2 {
    //text-align: center;
    margin: auto;
  }

  img {
    max-width: 250px;
    max-height: 250px;
  }

  .book-col {
    //background-color: red;
    margin-top: 10px;
    //text-align: center;
  }
}
