
.footer {
  //background-color: $black;
  color: #7d909d;
  height: auto;
  max-width: 100%;
  margin-top: 2em;
  //margin-right: -15px;
  //margin-left: -15px;
  padding-bottom: 1em;
  padding-top: 1em;
  overflow: none;
}

.footer-logo .row {
  margin-left: 0;
  margin-right: 0;
}

.footer-logo {
  height: auto;
  width: 100%;
  //background-color: red;
  text-align: center;
  //padding-top: 1em;
  //padding-bottom: 1em;
}

.book-footer {
  color: $bright-blue;
  margin-bottom: 1.5em;
}

.footer-col {
  text-align: center;
  padding-top: 1em;

  ul {
    list-style-type: none;

    li {
      display: inline-block;
      margin-right: 1em;
      font-size: 14px;

      a {
        color: $darkgrey;
        &:hover {
          color: $darkgrey;
        }
      }
    }
  }
}
