
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:200,400');

$black: #333333;
$blue: #4D7EA8;
$white: #FDFFFC;
$bright-blue: #4392F1;
$green: #5DFDCB;
$darkgrey: #444c59;
$yellow: #FDE74C;

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
//@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
//@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
//@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)

body {
  font-family: 'IBM Plex Sans', sans-serif;

}


Button {
  //width: 15em;
  //font-size: 2rem;
}


h1, h2, h3, h4, h5 {
  color: #444c59;
}


p {
  color: #444c59;
  //font-weight: 400;
}
