
.join-section {
  height: auto;
  background-color: $bright-blue;
  text-align: center;
  margin-top: 5em;

  button {
    background-color: $blue;
    border-radius: 20px;
    color: $white;
    text-transform: uppercase;
    font-weight: 400;
    height: 3.3em;
    width: 25em;
    margin-bottom: 3em;

    &:hover {
      background-color: $yellow;
      color: $darkgrey;
    }
  }

  h2, h3 , p {
    color: $white;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  p {
    color: #e2e9f1;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    padding-top: .5em;
    padding-bottom: .5em;
  }

  h3 {
    font-size: 1em;
    font-weight: 900;
    letter-spacing: .75px;
    text-transform: uppercase;
    margin-bottom: 1.5em;
    margin-top: 2em;
    color: $yellow;
  }
}


.join-form {
  input {
    height: 3em;
    width: 23em;
    margin: 1em;
    border-radius: 10px;
    border: none;
  }

}

@media (min-width: 768px)  {
  .join-section {

    button {
      width: 15em;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media (min-width: 992px) {
  .join-section {
    button {
      display: inline-block;
      margin-bottom: 0;
    }

    .join-form {
      input {
        margin-bottom: 5em;
      }
    }
  }
}
