
.book-trading-club-title {
  padding-left: .7em;
  color: $white;
  //font-weight: 500;
}

.navbar {
  a {
    color: $white;
  }

  .book {
    color: $yellow;
  }

  #hamburger {
    border: 2px solid $white;
  }

}

#my-nav {
  background-color: $bright-blue;
}

#nav-link a {
  color: $white;

  &:hover {
    color: $yellow;
  }
}
