
.book-trading-club-title {
  padding-left: .7em;
}

.navbar {
  //background-color: $bright-blue;

  a {
    color: $white;
  }

  .book {
    color: $bright-blue;
  }

  #hamburger {
    //background-color: black;
    border: 2px solid lightgrey;
  }

}
