
.trade-list {
  margin-top: 5em;
  margin-bottom: 5em;
}

.trade-card {
  height: 10em;
  background-color: $white;;

  border: 2px solid $bright-blue;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  padding-top: 1em;
  padding-left: 1em;

  p {
    color: $bright-blue;
  }
}


.arrow-container {
  margin-top: 2em;
  text-align: center;
}

.arrow {
  color: $bright-blue;
  line-height: 160px;
  height: 160px;
}
